@media screen and (min-width: 768px) {
  /* tablet */
  section {
    padding: 35px 0;
  }
  .btn {
    font-weight: bold;
  }
  /* navbar starts */
  header {
    padding: 25px 0 10px;
    position: sticky;
    top: 0;
    background-color: white;
  }
  #mobile {
    display: none;
  }
  #tablet-pc {
    display: block;
  }
  .container {
    margin: auto 40px;
  }
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .nav-menu-container {
    justify-content: center;
    gap: 20px;
    width: auto;
  }
  /* navbar ends */

  /* hero section starts */
  .hero-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .hero-banner {
    width: 350px;
    margin: 0;
  }
  .hero-contents {
    max-width: 460px;
    text-align: left;
  }
  .hero-title {
    font-size: 1.75rem;
  }
  .hero-desc {
    max-width: 90%;
  }
  /* hero section ends */

  /* sponsors-section starts */
  .sponsors-container {
    gap: 30px;
  }
  /* sponsors-section ends */

  /* collection section starts */
  .collection-title {
    margin-bottom: 25px;
  }
  .collection-card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  /* collection section ends */

  /* featured section starts */
  .featured-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .featured-banner img {
    width: 350px;
  }
  .featured-contents {
    text-align: left;
    max-width: 460px;
  }
  .featured-desc {
    max-width: 90%;
  }
  .featured-contents .btn-2 {
    width: fit-content;
    margin: 0;
  }
  /* featured section ends */
}

@media screen and (min-width: 1024px) {
  /* desktop */
  .container {
    max-width: 1184px;
    padding: 0 16px;
    margin: 0 auto;
  }
  section {
    padding: 50px 0;
  }
  .btn {
    font-weight: bold;
  }
  /* navbar starts */
  header {
    padding: 35px 0 10px;
    position: sticky;
    top: 0;
    background-color: white;
  }
  #mobile {
    display: none;
  }
  #tablet-pc {
    display: block;
  }
  .nav-menu-container {
    justify-content: center;
    gap: 35px;
  }
  /* navbar ends */

  /* hero section starts */
  .hero-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .hero-banner {
    width: 475px;
    margin: 0;
  }
  .hero-contents {
    max-width: 582px;
    text-align: left;
  }
  .hero-title {
    font-size: 3.25rem;
  }
  .hero-desc {
    font-size: 1rem;
    max-width: 505px;
  }
  /* hero section ends */

  /* sponsors-section starts */
  .sponsors-container {
    justify-content: space-around;
  }
  .sponsors-logo {
    height: 35px;
  }
  /* sponsors-section ends */

  /* collection section starts */
  .collection-title {
    margin-bottom: 30px;
  }
  .collection-card-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 0 auto 50px;
  }
  /* collection section ends */

  /* featured section starts */
  .featured-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .featured-banner img {
    width: 400px;
  }
  .featured-contents {
    max-width: 620px;
  }
  .featured-title {
    font-size: 2.375rem;
  }
  .featured-desc {
    max-width: 90%;
  }
  .featured-contents .btn-2 {
    width: fit-content;
    margin: 0;
  }
  /* featured section ends */
}
